.justify-content-around{
  margin-top: 50px;
}
.cars-form-card{
  background-color: transparent;
  margin-top: 20px;
  margin-right: 150px;
  margin-left: 150px;
}
.book-form-card {
  margin: 20px;
}

.card-title{
  text-align: center;
}
.card-img-top{
  height: 250px;
  width: 320px;
}

.book-form {
  padding: 20px;
}

.card-block{
  margin: 20px;
  border-bottom: 4px solid blue;
}

.active {
  color: blue;
}

